body{
    padding : 0;
    margin : 0;
    background-color : rgb(100, 40, 40);
    text-align : center;
}
h1{
    font-size : 50px;
    font-family : arial;
    color : rgb(71, 70, 70);
    background-color : rgb(184, 134, 107)
}
.choices{
    display : flex;
    justify-content : center;
    text-align : center;
    margin-top : 6px;
}
.choice{
    height : 200px;
    width : 200px;
    display:flex;
    align-items: center;
    justify-content: center;

}
.choice:hover{
    cursor:pointer;
    opacity:0.5s;
    background-color:rgb(165, 150, 126);
}
img{
    height : 150px;
    width : 150px;
    border-radius : 20%;
}
.score-board{
display : flex;
justify-content :center;
font-size:28px;
color :beige;
}
#user-score{
    padding-right : 50px;
    padding-left : 80px;
font-size : 40px;
font-family:arial;
}
#computer-score{
    padding-left : 80px;
    font-size : 40px;
    font-family : arial;
    display:flex;
    justify-content : center;
}
.score{
    padding-right :50px;
     padding-left : 60px;
    font-size:45px;
}
.message-container{
    height:30px;
    margin-right : 20px;
    margin-left:40px;
    margin-top:40px;
    margin-bottom:40px;
}
#msg{
     font-size : 40px;
    font-family : arial;
    background-color :rgb(220, 193, 139);
    color:rgb(103, 100, 100);
    border-radius: 10%;
    display:inline;
}